.card-ofertas{
    padding: 10px 5px;
    height: 16rem !important;
    width: 18%;
    background-color: red;
}

.imagem-ofertas{
    max-height: 40%;
    max-width: 40%;
    border-radius: 50%;
    background-color: #434BD2;
}